.main-date {
  display: flex;
  justify-content: space-between;
  color: #CCCDCF;
}
.main-title {
  padding: 2rem 0 1rem 0;
}
.page-title {
  font-size: 2.5rem;
  font-weight: 500;
}
.main-user {
  height: 16rem;
  background-color: rgb(225, 225, 225);
  border-radius: 16px;
  background-image: url('../../assets/img/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15rem;

  position: relative;
}
.main-user-ava {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: .5rem solid #fff;
  background-color: #6f6f6f;
  background-image: url(../../assets/img/ava.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all  .3s ease-out;
}
.main-user-ava p {
  opacity: 0;
  transition: all  .3s ease-out;
}
.main-user-ava:hover p {
  opacity: 1
}
.main-user-info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: -7rem
}
.main-user-information {
  margin: 2rem 0 0 24px;
}
.main-user-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 6px;
}
.main-user-course {
  font-size: 1.2rem;
  color: #9794A9;
}
.main-card-info {
  background-color: #F9F7FC;
  border-radius: 16px;
  padding: 0 2rem;
  margin-right: 1rem;
  min-height: 20px;
  width: 100%;
}
.main-card-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  color: #fff;
  margin-right: 2rem;
}
.main-card-item{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.main-card-text{
  color: #9794A9;
  font-size: .8rem;
}
.main-head-title {
  margin-bottom: 5rem;
}
.page-txt{
  font-size: 1.2rem;
}
.main-card-money {
  background: url("../../assets/img/card.png") no-repeat #6266EB 70% 50%;
  background-size: cover;
  color: #fff;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-card-title{
  font-size: 3rem;
  font-weight: 400;
}
.main-card-subtitle{
  font-size: 1.2rem;
}
.main-student {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  height: 20rem;
}
.card-icon{
  transform: rotate(-10deg);
  font-size: 4rem;
  margin-right: 30px;
}
.main-info{
}
.main-info-box{
  margin: 5rem 0 4rem;
}
.main-info-title{
  margin-bottom: 1rem;
}
.main-warning-box{
  height: 12rem;
  display: flex;
  align-items: center;
  background-color: #FFBC59;
  color: #fff;
  padding: 2rem 4rem;
  border-radius: 16px;
  margin-bottom: 4rem;
}
.main-warning-icon{
  font-size: 1.5rem;
  margin-right: 2rem;
}
.main-warning-text{
  font-size: 1.5rem;
  line-height: 28px;
}
.main-info-current{
  margin-top: 1.5rem;
  padding: 1.5rem 4rem;
  background-color: #F3F0F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 5rem;
  border-radius: 16px;
}
.main-info-inner{
  display: flex;
  align-items: center;
}
.exclamation-icon{
  font-size: 2rem;
  margin-right: 4rem;
}
.main-info-text{
  font-size: 1.5rem;
}
