.sidebar {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: calc(25% - 6rem);
}
.sidebar-item {
  width: 100%;
  border-radius: 16px;
  height: 5rem;

  display: flex;
  align-items: center;
  padding: 0 2rem;
}


a.active-sidebar-item {
  
  background-color: #6266EB;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.active-sidebar-item .sidebar-arrow {
  display: block;
}
.sidebar-nav {
  margin-top: 4rem;
}
.sidebar-arrow {
  display: none;
}
.sidebar-icons {
  width: 2rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.sidebar-icons i {
  color: #9794A9
}

a.active-sidebar-item i {
  color: #fff;

}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}